.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    background-color: #37506F;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  