/* src/Layout/ClientesCrud.css */
.clientes-crud {
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .btn-toggle-form, .btn-edit, .btn-delete {
    background-color: #10576D;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s;
  }
  
  .btn-toggle-form:hover, .btn-edit:hover, .btn-delete:hover {
    background-color: #004D66;
  }
  
  .clientes-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .clientes-table th, .clientes-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .clientes-table th {
    background-color: #f4f4f4;
    cursor: pointer;
  }
  
  .clientes-table tr:hover {
    background-color: #f9f9f9;
  }
  
  .selected {
    background-color: #f0f0f0;
  }
  
  .client-details {
    margin-top: 20px;
  }
  
  .client-info {
    margin-top: 20px;
  }
  
  .client-info table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .client-info th, .client-info td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  